@model User
              <section class="resProfil ">
                 <div class="container">
                    <div class="profContact">
                    <div class="container">
                      <div class=" melumatlarim">
                        <div class="container mb-3 ">
                            <div class="myInfo">
                            <h3>Şifrəni unutmuşam</h3>
                            <form action="/Home/SendMessage"  method="post" >
                                <label for="">Logini daxil edin</label>
                                <input type="text" class="form-control mb-3" name="UserNickName" autocomplete="off" />
                                <input type="text" class="form-control mb-3" name="UserMail" autocomplete="off" />
                                <button class="btn btn-success">Göndər</button>
                             </form>
                            </div>
                        </div>
                      </div>
                    </div>
                 </div>
                </div>
            </section>