
    <section class="list">
            <div class="container">
                <h2>Dostluq istəkləri</h2>
              <div class="box">
                <div class="card ">
                    <div class="div d-flex">
                        <img src="/img/Resul.jpg" alt="">
                        <h4>Resul Hesenli</h4>
                        <div class="teklif">
                            <button class="btn mb-3 dost"> Qəbul et</button>
                            <button class="btn mb-3">Sil</button>
                        </div>
                    </div>
                </div>

                <div class="card ">
                    <div class="div d-flex">
                        <img src="/img/nergiz.jpeg" alt="">
                        <h4>Nərgiz Məmmədova</h4>
                        <div class="teklif">
                            <button class="btn mb-3 dost"> Qəbul et</button>
                            <button class="btn mb-3">Sil</button>
                        </div>
                    </div>
                </div>

                <div class="card ">
                    <div class="div d-flex">
                        <img src="/img/terane.jpeg" alt="">
                        <h4>Təranə Ələsgərova</h4>
                        <div class="teklif">
                            <button class="btn mb-3 dost"> Qəbul et</button>
                            <button class="btn mb-3">Sil</button>
                        </div>
                    </div>
                </div>

                <div class="card ">
                    <div class="div d-flex">
                        <img src="/img/Resul.jpg" alt="">
                        <h4>Resul Hesenli</h4>
                        <div class="teklif">
                            <button class="btn mb-3 dost"> Qəbul et</button>
                            <button class="btn mb-3">Sil</button>
                        </div>
                    </div>
                </div>

                <div class="card ">
                    <div class="div d-flex">
                        <img src="/img/Resul.jpg" alt="">
                        <h4>Resul Hesenli</h4>
                        <div class="teklif">
                            <button class="btn mb-3 dost"> Qəbul et</button>
                            <button class="btn mb-3">Sil</button>
                        </div>
                    </div>
                </div>

                <div class="card ">
                    <div class="div d-flex">
                        <img src="/img/Resul.jpg" alt="">
                        <h4>Resul Hesenli</h4>
                        <div class="teklif">
                            <button class="btn mb-3 dost"> Qəbul et</button>
                            <button class="btn mb-3">Sil</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

       @await Html.PartialAsync("_footer")
