@model User
      <section class="registration">
          <div class="container">
            <div class="citephoto">
                <div class="sayt">
                    <img src="/img/sayt.png" width="430px" height="400px" class="citeimg">
                </div>
                <div class="telefon">
                    <img src="/img/nout.png" width="600px" height="450px" >
                </div>
                <div class="saytIki">
                    <img src="/img/ressayt.png" width="205px" height="410px" class="citeimg">
                </div>
                <div class="telefonIki">
                    <img src="/img/phone-1682317_1280.webp" width="300px" >
                </div>
            </div>
          </div>
      </section> 

      <section id="registr" class="d-block">
        <div class="container">
          <form class="qeyd"  asp-action="Registr" asp-controller="User">
              <div asp-validation-summary="ModelOnly"></div>
              <h4 class="text-center">Qeydiyyatdan keçin və bizə qoşulun</h4>
                <input class="form-control" id="name" placeholder="Ad" asp-for="UserName" autocomplete="off">
                <span asp-validation-for="UserName"class="text-danger"></span>
                <input class="form-control" id="surname" placeholder="Soyad" asp-for="UserSurname" autocomplete="off">
                <span asp-validation-for="UserSurname"class="text-danger"></span>
                 <select class="form-control" asp-for="UserGenderId" asp-items="ViewBag.Genders">
                    <option value="">Cins</option>
                </select>
                <input class="form-control" type="email"  id="mail" placeholder="Email" asp-for="UserMail" autocomplete="off">
                <span asp-validation-for="UserMail"class="text-danger"></span>
                <input class="form-control"  id="log" placeholder="Login" asp-for="UserNickName" autocomplete="off">
                <span asp-validation-for="UserNickName"class="text-danger"></span>
                <input class="form-control" type="password"  id="parol" placeholder="Şifrə" asp-for="UserPassword" autocomplete="off">
                <span asp-validation-for="UserPassword"class="text-danger"></span>
              @*  <i class="fas fa-eye " id = "aciq"></i>
                <i class="fas fa-eye-slash" id = "bagli"></i>*@
               
                <span asp-validation-for="UserGenderId" class="text-danger"></span>
                <button  id="esasSehife" class="mt-3">Qeydiyyatdan keç</button>
                <p>Artıq qeydiyyatdan keçmisiniz? <a href="/User/Login" >Daxil ol</a></p>
            </form>
        </div>
    </section>

           <footer class="footer-basic">
   
            <div class="social">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fas fa-envelope"></i></a>
              <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Əsas xəbərlər</a></li>
                <li class="list-inline-item"><a href="#">Son xəbərlər</a></li>
                <li class="list-inline-item"><a href="#">Siyasət</a></li>
                <li class="list-inline-item"><a href="#">İqtisadiyyat</a></li>
                <li class="list-inline-item"><a href="#">İdman</a></li>
                <li class="list-inline-item"><a href="#">Mədəniyyət</a></li>
                <li class="list-inline-item"><a href="#">Dünya</a></li>
                <li class="list-inline-item"><a href="#">Şou-Biznes</a></li>
            </ul>
            <p class="copyright">Site by <i class="fas fa-heart text-danger"></i> <span>Resul Hesenli</span> © 2022</p>
        
      </footer>
 


