<footer class="footer-basic">
   
          <div class="social">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
          </div>
          <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Əsas xəbərlər</a></li>
              <li class="list-inline-item"><a href="#">Son xəbərlər</a></li>
              <li class="list-inline-item"><a href="#">Siyasət</a></li>
              <li class="list-inline-item"><a href="#">İqtisadiyyat</a></li>
              <li class="list-inline-item"><a href="#">İdman</a></li>
              <li class="list-inline-item"><a href="#">Mədəniyyət</a></li>
              <li class="list-inline-item"><a href="#">Dünya</a></li>
              <li class="list-inline-item"><a href="#">Şou-Biznes</a></li>
          </ul>
          <p class="copyright">Site by <i class="fas fa-heart text-danger"></i> <span>Resul Hesenli</span> © 2022</p>
      
    </footer>